.ant-input-search-button {
  height: 53px !important;
  padding: 0 50px !important;
  font-weight: bold !important;
  letter-spacing: 2px !important;
}

.swiper-pagination-bullet-active {
  background-color: #344B46;
}